

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button{
  outline: none;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: relative;
}

/* Tile CSS */
.tile-continer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.tile {
  position: relative;
  margin: 20px;
  width: 25%;
}

.tile > img {
  border-radius: 5px;
}

.tile > h3 {
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.lock {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.lock > img {
  width: 15px;
}

.freeBtn {
  background-color: #fa9d7e;
  color: white;
  padding: 14px 96px;
  border-radius: 40px;
  text-align: center;
  font-family: Averta;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* MODAL CSS */

.modal {
  width: 480px;
  height: 500px;
  background-color: #3c3c3b;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  overflow: hidden;
  transition: all 5s ease-in;
  z-index: 20;
}
.modal > p{
    color:  #FFF;
    text-align: center;
    /* Small/H4 */
    font-family: Averta;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.modal-header{
    position: relative;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.modal-header > img{
    position: absolute;
    top: -15px;
    right: -10px;
}

.modal-header > h3 {
  color: #ea785f;
  text-align: center;
  font-family: Averta;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.slider{
    overflow-x: hidden;
    margin-bottom: 10px;
    display: flex;
    margin: 5px 5px;

}

.slide {
  overflow: hidden;
  position: relative;
  min-width: 130px;
  margin: 0 5px;
}
.slide > span{
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #FFF;
    color: #3C3C3B;
    border-radius: 10px;
    font-size: 10px;
    padding: .5px 5px;
}
.slide > img {
  width: 130px;
  border-radius: 5px;
}

.bottom > button{

    margin-bottom: 5px;
}

.bottom > p{
    color:  #FFF;
    text-align: center;
    /* Body/Small */
    font-family: Averta;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
